
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

.row-height{
    height: 100vh;
}
.right{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}